[
  {oneup_metrics,[
    {http_port, 3339},
    %% -1 is a stupid value but helps to see examples of "Large Mboxes:" in system_info reporter
    {system_info_config, [{mbox_threshold, -1}]},   %% should be something large, probably at least 1000
    {metrics_config,
      [[a, b, c1, d1, ref1],
      [a, b, c1, d2, ref2],
      [a, b, c2, d1, ref3],
      [a, b, c2, d1, ref4],
      [a2, b2, c2, d2, ref5]]
    }
  ]
}
].